@{
    ViewData["Title"] = "Account Page";
}

@model User
<div class="text-center BlckBox">
    <div class="texttt">
        <img src="data:image/jpeg;base64,@Model.UserProfilePictureBase64" alt="Profile Picture" class="profilepic" style="height: 300px; width: 300px;" />
        <h1 class="display-6 mb-3 pt-4"><span class="Bojatxt">Username: </span>@Model.Username</h1>
        <h1 class="display-6 mb-3"><span class="Bojatxt">First Name: </span>@Model.FirstName</h1>
        <h1 class="display-6 mb-3"><span class="Bojatxt">Last Name: </span>@Model.LastName</h1>
        <h1 class="display-6 mb-3"><span class="Bojatxt">Email: </span>@Model.Email</h1>
        <h1 class="display-6 mb-3"><span class="Bojatxt">Phone: </span>@Model.PhoneNumber</h1>
        <h1 class="display-6 mb-3"><span class="Bojatxt">Known Technologies: </span></h1>
    
            @if (Model.KnownTechnologies != null)
            {
                @foreach (var technology in Model.KnownTechnologies)
                {
                    <h1 class="display-6 mb-3">@technology.Name</h1>
                }
            }
            else
            {
               <h1 class="display-6 mb-3">No known technologies</h1>
            }
    
 

      

    </div>
</div>
<div class="text-center changeer">
    <a asp-controller="User" asp-action="ChangePassword" class="btn btn-danger">Change Password</a>
</div>
<style>
  
    .profilepic{
        border-radius:50px;
    }
    h1 {
        font-weight: 400 !important;
    }

    .texttt {
        padding-top: 50px;
    }

    .Bojatxt {
        color: cornflowerblue;
        font-size: 80%;
        margin-right: 15px;
    }

    .btn-danger {
        display: inline-block;
        background-color: rgba(11, 64, 156, 0.7);
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        transition: transform 0.3s ease, color 0.3s ease;
    }

        .btn-danger:hover {
            transform: scale(1.1);
        }

    .BlckBox {
        margin: 0 auto;
        width:650px;
        margin-top: 200px;
        transition: transform 0.3s ease;
    }

        .BlckBox:hover {
            transform: scale(0.95);
        }

        .BlckBox h1 {
            font-size:30px;
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            transition: font-size 0.5s ease;
        }

        .BlckBox:hover h1 {
            font-size: 200%;
        }

        .BlckBox .texttt {
            transition: padding-top 0.5s ease;
        }

        .BlckBox:hover .texttt {
            padding-top: 30px;
        }

    .text-center.changeer {
        margin-top: 20px;
    }
</style>
