<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/css/userFriendList.css" asp-append-version="true" />

<div id="firnd">
    <div id="usersList">
        <h2>Users</h2>
        <ul class="Osobe">
            @if (ViewBag.Users != null)
            {
                
                for (int i = 0; i < ViewBag.Users.Count; i++)
                {
                    var user = ViewBag.Users[i];
                 
                    bool isInFriendsList = false;
                    if (ViewBag.Friends != null)
                    {
                        foreach (var friend in ViewBag.Friends)
                        {
                            if (friend.Id == user.Id)
                            {
                                isInFriendsList = true;
                                break;
                            }
                        }
                    }
                   
                    if (!isInFriendsList)
                    {
                        <li class="user" data-user-id="@user.Id">@user.FirstName @user.LastName <button class="btn btn-primary" onclick="AddFriend(@ViewBag.UserId, @user.Id)">Add Friend</button></li>
                    }
                }
            }
        </ul>
    </div>

    <div id="friendsList">
        <h2>Friends</h2>
        <ul class="Friend">
            @if (ViewBag.Friends != null)
            {
                foreach (var friend in ViewBag.Friends)
                {
                    <li class="user" data-user-id="@friend.Id">@friend.FirstName @friend.LastName <button class="btn btn-primary" onclick="RemoveFriend(@ViewBag.UserId, @friend.Id)">Remove Friend</button></li>
                }
            }
        </ul>
    </div>
</div>





<script>
    function AddFriend(userId, friendId) {
        var loggedInUserId = @ViewBag.UserId;

        $.ajax({
            type: "POST",
            url: "https://localhost:7156/api/Friend/AddFriend",
            data: { userId: loggedInUserId, friendId: friendId },
            success: function (response) {
                console.log(response);
                window.location.href = '/User/FriendList';
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }


    function RemoveFriend(userId, friendId) {
        var loggedInUserId = @ViewBag.UserId;
        $.ajax({
            type: "DELETE",
            url: "https://localhost:7156/api/Friend/RemoveFriend",
            data: { userId: loggedInUserId, friendId: friendId },
            success: function (response) {
                console.log(response);
                window.location.href = '/User/FriendList';
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
</script>