<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vibrant.js/2.1.0/Vibrant.min.js"></script>
<link rel="stylesheet" href="~/css/postDetails.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Post Details Page";
}

<h2 class="post-header text-center">
    <span class="float-left">
        <a href="@Url.Action("Index", "Post")" class="btn btn-danger back">
            <i class="material-icons Arrow">arrow_back</i>
        </a>
    </span>
</h2>

<div id="post-details-container" class="post-details-container text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url('data:image/png;base64,@Model.PostImage'); background-size: cover; background-position: center; background-repeat: no-repeat;">

    <div class="post-thumbnail">
     
        <img id="post-thumbnail-img" src="data:image/png;base64,@Model.PostImage" alt="Post Image" class="img-fluid" />


        @if (int.Parse(ViewBag.UserId) == Model.UserId)
        {
            <input type="file" id="post-image-file" accept="image/*">
        }

    </div>

    <dl class="post-info">
        <dt class="h5 text-blue">Title:</dt>
        <dd class="h3">
            @if (int.Parse(ViewBag.UserId) == Model.UserId)
            {
                <input type="text" id="post-title"  value="@Model.Title">
            }
            else
            {
                @Model.Title
            }
        </dd>

        <dt class="h5 text-blue">Description:</dt>
        <dd class="h3">
            @if (int.Parse(ViewBag.UserId) == Model.UserId)
            {
                <input type="text" id="post-description" value="@Model.Description">
            }
            else
            {
                @Model.Description
            }
        </dd>

        <dt class="h5 text-blue">Publishing Date:</dt>
        <dd class="h3">@Model.PublishingDate</dd>

        <dt class="h5 text-blue">Created By:</dt>
        <dd class="h3" id="created-by-placeholder">
           
        </dd>

    </dl>

    @if (int.Parse(ViewBag.UserId) == Model.UserId)
    {
        <button class="btn  update-post">Update Post</button>
        <button class="btn  delete-post">Delete Post</button>
    }
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(function () {
        var userId = @Model.UserId;

        $.ajax({
            type: "GET",
            url: "https://localhost:7156/api/User/" + userId,
            success: function (response) {
                $('#created-by-placeholder').text(response.firstName + ' ' + response.lastName);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });




    $('.update-post').click(function () {
        var formData = new FormData();
        var postId = '@Model.Id';
        var title = $('#post-title').val();
        var description = $('#post-description').val();

        formData.append('Id', postId);
        formData.append('title', title);
        formData.append('description', description);

        var fileInput = $('#post-image-file')[0];
        if (fileInput.files.length > 0) {
            var file = fileInput.files[0];
            var reader = new FileReader();
            reader.onload = function (event) {

                var base64String = event.target.result.split(',')[1];
                formData.append('PostImage', base64String);


                $.ajax({
                    url: 'https://localhost:7156/api/Post/UserPostUpdate',
                    type: 'PUT',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function () {
                        alert('Post updated successfully.');
                        window.location.href = '/Post/Index';
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        console.error('Status:', status);
                        console.error('Response Text:', xhr.responseText);
                        alert('Error occurred while processing your request. Please try again later.');
                    }
                });
            }
            reader.readAsDataURL(file);
        } else {
            formData.append('PostImage', 'None');

            $.ajax({
                url: 'https://localhost:7156/api/Post/UserPostUpdate',
                type: 'PUT',
                processData: false,
                contentType: false,
                data: formData,
                success: function () {
                    alert('Post updated successfully.');
                    window.location.href = '/Post/Index';
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    console.error('Status:', status);
                    console.error('Response Text:', xhr.responseText);
                    alert('Error occurred while processing your request. Please try again later.');
                }
            });
        }
    });



    $('.delete-post').click(function () {
        var postId = '@Model.Id';

        $.ajax({
            url: 'https://localhost:7156/api/Post/' + postId,
            type: 'DELETE',
            success: function () {
                alert('Post deleted successfully.');
                window.location.href = '/Post/Index';
            },
            error: function (xhr, status, error) {

                console.error('Error:', error);
                console.error('Status:', status);
                console.error('Response Text:', xhr.responseText);


                alert('Error occurred while processing your request. Please try again later.');
            }

        });
    });
</script>